[submodule "submodules/dlib"]
	path = submodules/dlib
	url = https://github.com/davisking/dlib
[submodule "submodules/libfort"]
	path = submodules/libfort
	url = https://github.com/seleznevae/libfort
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/rang"]
	path = submodules/rang
	url = https://github.com/agauniyal/rang
[submodule "submodules/fpgrowth"]
	path = submodules/fpgrowth
	url = https://github.com/jackbergus/FP-growth.git
[submodule "submodules/dataset_clashroyale"]
	path = submodules/dataset_clashroyale
	url = https://github.com/kekepins/clash-royal-analytics
[submodule "submodules/git"]
	path = submodules/git
	url = https://github.com/jackbergus/fast-cpp-csv-parser.git
